<%= "<div class='error-ribbon'><h4>#{flash[:message]}</h4></div>" if flash.has?(:message) %>

<form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit">login</button>
</form>

<div class="text-box">or <a href="/signup">sign up!</a></div>