<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Local Coffeeshop</title>
</head>
<body>
    <header>
        <nav>
        <a href="/">Home</a>
        <a href="/coffeeshops">Coffeeshops</a>
        <a href="/locations">Locations</a>
        <a href="/profile">Profile</a>
        <%= logged_in? ? "<a href=\"/logout\">Logout</a>" : "<a href=\"/login\">Login</a>" %>
        </nav>
    </header>

    <div class="content">

        <%= yield %>

    </div>

    <footer>

    </footer>
</body>
</html>